<% layout("/layouts/boilerplate") -%>
<body>
  <div class="row mt-3">
    <div class="col-lg-8 offset-3">
      <h3><b> <%= listing.title %> </b></h3>
    </div>

    <div class="card col-6 offset-3 show-card listing-card">
      <img
        src="<%= listing.image %>"
        class="card-img-top show-img"
        alt="<%= listing.title %>"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <!-- <i> : <%= listing.owner %> </i> -->
          <i> Owned by : <%= listing.owner.username %> </i>

          <br />
          <%= listing.description %>
          <br />

          &#8377; <%= listing.price.toLocaleString('en-IN') %> / night
          <br />
          <%= listing.location %>
          <br />

          <%= listing.country %>
          <br />
        </p>
      </div>
    </div>
    <br />

   
    <div class="btns">
      <a
        class="btn btn-dark edit-btn col-1 offset-3"
        href="/listings/<%= listing._id %>/edit"
        >Edit
      </a>
      <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button class="btn btn-dark offset-2">Delete</button>
      </form>
    </div>
    
    <div class="col-6 offset-3 mb-3">
      <hr />
      <h4>Leave a Review</h4>
      <form
        action="/listings/<%= listing._id%>/reviews"
        method="POST"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3 mt-3">
          <label class="form-label" for="rating">Rating</label>
          <input
            class="form-control"
            type="range"
            min="1"
            max="5"
            id="rating"
            name="review[rating]"
          />
        </div>
        <div class="mb-3 mt-3">
          <label class="form-label" for="comment">Comment</label>
          <br />
          <textarea
            class="form-control"
            name="review[comment]"
            id="comment"
            cols="30"
            rows="5"
            required
          ></textarea>
          <div class="invalid-feedback">
            Please add some comments for review
          </div>
        </div>
        <br />
        <button class="btn btn-outline-dark">Submit</button>
      </form>
      <hr />
      <h4><b> All Reviews </b></h4>

      <!-- <div class="row">

                    <% for(review of listing.reviews) { %>
                        <div class="card col-6 mb-3 ms-3">
                            <div class="card-body">
                    
                                <h5 class="card-title">
                                    <%= listing.title %>
                                </h5>
                                <p class="card-text">
                                    <%= review.comment %>
                                </p>
                                <p class="card-text">
                                    <%= review.rating %>
                                </p>
                            </div>
                        </div>
                
                        <% } %>
                    
                 
                       

            </div> -->
      <div class="row">
        <% for (review of listing.reviews) { %>
        <div class="col-md-6 col-12 mb-3">
          <div class="card shadow-sm p-2 mb-3">
            <div class="card-body">
              <h5 class="card-title text-primary"><%= listing.title %></h5>
              <p class="card-text text-secondary"><%= review.comment %></p>
              <span class="badge bg-success"> <%= review.rating %> ★ </span>
            </div>
            <form
              action="/listings/<%= listing._id %>/reviews/<%= review._id%>/?_method=DELETE"
              method="post"
            >
              <button class="btn btn-sm btn-dark my-2">Delete</button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</body>
